@tailwind base;
@tailwind components;
@tailwind utilities;

.mainTitle {
  @apply text-xl;
}

.infoText {
  @apply text-sm;
}

.description {
  line-height: 120%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
body {
  background: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
